@page "/charts"

<h3>Charts</h3>

<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e6881a-91d7-4775-8f45-466215344880&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e6ba1a-d08f-4b30-8771-ae7b6f4dd6b7&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e6ba84-6907-4cf1-8b5b-39d699b8eb09&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e68740-b72a-4f9f-82f5-4359a12ffc16&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e6bbb6-b64e-41da-8f5c-293d86996f46&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e7e296-d08f-4f47-8f94-ae7b6f236591&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
<iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-pcpartpicker-wuhfb/embed/charts?id=63e7e231-b64e-4473-8edb-293d866cbcfa&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
